{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <!-- add this javascript to make the radio/checkbox buttons work correctly -->
    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_firstregprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}




<!-- this is a container for the page contents -->
<main id="content" role="main">

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-large">What happens next?</h1>

    <h2 class="heading-medium">New left hand drive vehicle from outside EU</h2>

    <p>We will send you a V55/4 and detailed instructions to complete it.</p>

    <p>You will need these items:</p>


    <ul class="list-bullet">
  	
    	<li>ID (photocopies are acceptable) </li>
    	<li>Fee for vehicle tax and First registration (if applicable)</li>
    	<li>Certificate or Declaration of Newness</li>
      
      <li>Type Approval (if applicable):

        <ul class="list-square">
          <li>If you have an ECWVTA Certificate of Conformity which states left hand drive and metric units, they will need to be referred to VCA to get a mutual recognition certificate to show the correct hand of traffic and speedometer units.</li>
          <li>If they cannot get an ECWVTA CoC from the manufacturer, they should be able to get an IVA certificate from DVSA)</li>
        </ul>
      </li>
  	
  </ul>

  <p>You must also <a href="#">contact HMRC (using the NOVA service)</a> and pay any taxes.</li>


</div></div>
</main><!-- end content container -->




{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}

