{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>




{{/head}}




{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main">





 







    <div style="padding-top:0.3em;font-size:85%"><details style="" >
        <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="padding-top:0.7em">
          <span class="summary">Additional vehicle services</span>
        </summary>
        <div class="panel-indent js-hidden" id="details-content-0" aria-hidden="false" style="display:block;border-left:10px solid #e0e0e0;padding:0 20px;margin:12px 0">
        
        

            
            <p><a href="https://www.gov.uk/put-registration-number-vehicle" rel="external">Put a registration number on a vehicle</a></p>

            <p><a href="https://www.gov.uk/keep-registration-number" rel="external">Take a registration number off a vehicle </a></p>

            <p><a href="https://www.gov.uk/sold-bought-vehicle/y/private-vehicle-owner/sold-your-vehicle-into-the-motor-trade" rel="external">Sold your fleet vehicle into the motor trade</a></p>

            <p><a href="https://www.gov.uk/sold-bought-vehicle/y/private-vehicle-owner/sold-your-vehicle-to-a-private-individual-or-business" rel="external">Sold your fleet vehicle to a individual or business</a></p>



          
        </div>
      </details></div>


     


  <br clear="all">


    


</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
