{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}




{{$propositionHeader}}
  {{>includes/govuk_navigation_searchbox}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}



{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main" class="vehicle-tax-start">
  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
        <li><a href="#">Home</a></li>
        <li><a href="#">Driving and transport</a></li>
        <li><a href="#">Imports and exports</a></li>
      </ol>
    </nav>
  </div>





  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="form-title heading-xlarge">
      Importing vehicles into the UK
      </h1>


     

<aside>
  <div class="inner">
    <!--<a href="#" class="show-all-parts">Show all parts of this guide</a> -->

    <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
    <ol>
      <li>
        <span class="part-number">1.</span>
        <a title="Part 1: " href="info-1">Overview</a>
      </li>
      <li>
        <span class="part-number">2.</span>
        <a title="Part 2: " href="info-2">Re-importing a vehicle</a>
      </li>
      <li>
        <span class="part-number">3.</span>
        <a title="Part 3: " href="info-3">Temporary imports</a>
      </li>
      <li>
        <span class="part-number">4.</span>
        <a title="Part 4: " href="info-4">VAT, duty and tax: inside the EU</a>
      </li>
      <li class="active">
        <span class="part-number">5.</span>
        <a title="Part 5: " href="info-5">VAT, duty and tax: from outside the EU</a>
      </li>
    </ol>

    <ol start="6">
      <li>
        <span class="part-number">6.</span>
        <a title="Part 6: " href="info-6">Registering a vehicle as 'new'</a>
      </li>
      <li>
        <span class="part-number">7.</span>
        <a title="Part 7: " href="info-7">Temporary imports</a>
      </li>
      <li>
        <span class="part-number">8.</span>
        <a title="Part 8: " href="info-8">Moving vehicles between Britain and Northern Ireland</a>
      </li>
      <li>
        <span class="part-number">9.</span>
        <a title="Part 9: " href="info-9">Commercial importers of new vehicles</a>
      </li>
    </ol>
        
    </nav>
  </div>
</aside>

<br clear="all">

<header>
<h1 class="heading-medium">4. VAT, duty and tax: vehicles from within the EU</h1>
</header>

<p>
You usually need to pay VAT if you import a vehicle from within the EU.</p>

<p>
You must also pay vehicle tax from the date your vehicle is registered with DVLA.</p>

<h2 class="heading-small">Report the arrival of your vehicle to HMRC </h2>

<p>
Use the Notification of Vehicle Arrivals (NOVA) service to tell HM Revenue and Customs (HMRC) you’ve brought a vehicle into the UK. </p>

<p>
You’ll need a Government Gateway account to use NOVA. </p>

<p>
HMRC will use the information you provide in NOVA to work out the VAT you must pay.</p>

<p>
You can’t use NOVA before you import your vehicle.</p>

<p>
You’ll get a late notification penalty of £5 per day if you don’t notify HMRC within 14 days of the vehicle arriving in the UK.</p>

<p>
You can report on a spreadsheet if you need to use NOVA for lots of vehicles.</p>


<h2 class="heading-small">Exceptions</h2>

<p>
You don’t need to report the arrival of the vehicle using NOVA if any of the following apply: 
<ul>
<li>the vehicle is in the UK for less than 6 months in a 12-month period and you normally live in the EU (one single visit, or several shorter visits adding up to a 6-month period)</li>
<li>the vehicle’s engine is below 49cc, or 7.2 kilowatts (about 9.65 horsepower) if it’s electric</li>
<li>you’re using a secure registration scheme </li>
</ul>
If you change your mind and decide either to import the vehicle permanently or to not use a secure registration scheme, you must use NOVA within 14 days.</p>

<p>
You can’t register your vehicle with DVLA until HMRC has processed your NOVA application.</p>


<h2 class="heading-small">Pay VAT </h2>

<p>
HMRC will tell you how much VAT is due and how to pay. </p>

<p>
You’ll usually pay VAT on the vehicle, accessories bought with it and any delivery or incidental charges. </p>

<h2 class="heading-small">Pay as a VAT-registered business</h2>

<p>
You can account for and pay the VAT due on your next VAT Return.</p>

<h2 class="heading-small">Pay if you’re not a VAT-registered business</h2>

<p>
You need to pay VAT to HMRC directly if you’re not a VAT-registered business.</p>

<p>
You’ll need your NOVA notification reference number as a payment reference. You can find this on:
<ul>
<li>the email HMRC sent you if you used the NOVA online service</li>
<li>the payment notice that HMRC sent you</li>
</ul>
Send your payment to:</p>

<p>
Account name: HMRC Indirect Miscellaneous <br>
Sort code: 08 32 00 <br>
Account number: 12000903</p>

<p> 
Read more about paying VAT to HMRC if you’re not VAT-registered.</p>

<h2 class="heading-small">Second-hand vehicles</h2>

<p>
You don’t usually have to pay VAT if you’re importing a second-hand vehicle and the VAT was paid in another EU country. </p>

<p>
You’ll have to pay VAT if your vehicle is classed as a ‘new means of transport’ - ie it’s less than 6 months old and has done less than 6,000km (about 3,728 miles). HMRC will tell you if this is the case. </p>

<h2 class="heading-small">Reclaim VAT paid in the EU </h2>

<p>
You can reclaim the VAT you paid in another EU country. Send the Certificate of VAT you receive from HMRC to the person you bought the vehicle from. </p>






<footer>
<nav class="pagination" role="navigation" aria-label="Pagination">
<ul class="group">
  <li class="previous">
  <a title="Navigate to previous part" rel="prev" href="#">
  <span class="pagination-label">Previous </span> <span class="pagination-part-title">VAT, duty and tax: vehicles from outside the EU</span></a></li>

  <li class="next">
  <a title="Navigate to next part" rel="next" href="#">
  <span class="pagination-label">Next</span> <span class="pagination-part-title">Registering a vehicle as 'new'</span></a></li>

</ul>
</nav>
</footer>

    </div>


    <div class="column-third" style=";margin-bottom:0.75em">
      <nav class="popular-needs">

        <h3 class="heading-medium" style="border-top:10px solid #005ea5;margin-top:0;padding-top:1em">Elsewhere on GOV.UK</h3>

        <ul class="top-tasks">
          <li><a href="/register-sorn-statutory-off-road-notification">Make a <abbr title="Statutory off road notice">SORN</abbr> declaration</a></li>
          <li><a href="/calculate-vehicle-tax-rates">Calculate vehicle tax rates</a></li>
          <li><a href="/calculate-vehicle-tax-rates">Vehicle tax rate tables</a></li>
          <li><a href="/apply-hgv-vehicle-licence-tax-disc-form-v85">Apply for <abbr title="Heavy goods vehicle">HGV</abbr> vehicle tax</a></li>
          <li><a href="#">More</a></li>
        </ul>

        

      </nav>
    </div>

  </div><!-- close gridrow -->





 

  





</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
