{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}




{{$propositionHeader}}
  {{>includes/govuk_navigation_searchbox}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}



{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main" class="vehicle-tax-start">
  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
        <li><a href="#">Home</a></li>
        <li><a href="#">Driving and transport</a></li>
        <li><a href="#">Imports and exports</a></li>
      </ol>
    </nav>
  </div>





  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="form-title heading-large" style="margin-bottom:0.33em">
      Importing vehicles into the UK
      </h1>


     

<aside>
  <div class="inner">
    <!--<a href="#" class="show-all-parts">Show all parts of this guide</a> -->

    <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
    <ol>
      <li>
        <span class="part-number">1.</span>
        <a title="Part 1: " href="info-1">Overview</a>
      </li>
      <li>
        <span class="part-number">2.</span>
        <a title="Part 2: " href="info-2">Re-importing a vehicle</a>
      </li>
      <li>
        <span class="part-number">3.</span>
        <a title="Part 3: " href="info-3">Temporary imports</a>
      </li>
      <li>
        <span class="part-number">4.</span>
        <a title="Part 4: " href="info-4">VAT, duty and tax: inside the EU</a>
      </li>
      <li class="active">
        <span class="part-number">5.</span>
        <a title="Part 5: " href="info-5">VAT, duty and tax: from outside the EU</a>
      </li>
    </ol>

    <ol start="6">
      <li>
        <span class="part-number">6.</span>
        <a title="Part 6: " href="info-6">Registering a vehicle as 'new'</a>
      </li>
      <li>
        <span class="part-number">7.</span>
        <a title="Part 7: " href="info-7">Registering a used imported vehicle</a>
      </li>
      <li>
        <span class="part-number">8.</span>
        <a title="Part 8: " href="info-8">Mutual recognition</a>
      </li>
      <li>
        <span class="part-number">9.</span>
        <a title="Part 9: " href="info-9">Moving vehicles between Britain and Northern Ireland</a>
      </li>
      <li>
        <span class="part-number">10.</span>
        <a title="Part 10: " href="info-10">Commercial importers of new vehicles</a>
      </li>
    </ol>
        
    </nav>
  </div>
</aside>

<br clear="all">

<header>
<h1 class="heading-large" style="margin-top:0.2em">5. VAT, duty and tax: vehicles from outside the EU </h1>
</header>

<p>
You usually pay VAT and duty through customs when you import any vehicle from <a href="#">outside the EU</a>. </p>

<p>
You must <a href="https://www.gov.uk/vehicle-tax">pay vehicle tax</a> from the date your vehicle is registered with DVLA.</p>

<h2 class="heading-small">Report the arrival of your vehicle to HMRC </h2>

<p>
Use the <a href="https://www.gov.uk/nova-log-in">Notification of Vehicle Arrivals (NOVA)</a> service to tell HM Revenue and Customs (HMRC) you’ve brought a vehicle into the UK. </p>

<h2 class="heading-small">Pay VAT and duty through customs</h2>

<p>
You must pay VAT and duty through customs when you import a vehicle, unless you’re:
<ul class="list-bullet">
  <li>moving to the UK</li>
  <li>importing a previously exported vehicle</li>
  <li>importing a vehicle registered to a non-EU resident</li>
</ul>

<h2 class="heading-small">If you’re moving to the UK</h2>

<p>
You don’t pay VAT or duty on a vehicle imported from outside the <a href="info-5">EU</a> if you qualify for transfer of residence relief. To qualify you must meet all of these conditions: 
<ul class="list-bullet">
  <li>you’re moving your normal home to the UK</li>
  <li>your normal home was outside the EU for a continuous period of at least 12 months</li>
  <li>you’ve owned and used the vehicle for at least 6 months outside the EU</li>
  <li>you didn’t get the vehicle under a duty-free or tax-free scheme</li>
  <li>you’re going to keep the vehicle for your personal use for at least 12 months</li>
</ul>
To get the tax relief, fill in <a href="https://www.gov.uk/government/publications/import-and-export-import-of-private-motor-vehicle-from-outside-the-ec-c104a">form C104A</a> and give it to customs when you enter the country. </p>

<h2 class="heading-small">Importing previously exported vehicles</h2>

<p>
You don’t pay VAT or duty on a vehicle imported from outside the EU if it was previously exported out of the EU. This is known as ‘returned goods relief’. To qualify you must meet all of these conditions:
<ul class="list-bullet">
  <li>you exported the vehicle outside the EU within the last 3 years</li>
  <li>the taxes were paid on the vehicle in the EU and not refunded when it was exported</li>
  <li>the vehicle hasn’t been altered outside the EU, other than necessary running repairs</li>
  To get the tax relief, drive your vehicle through the ‘green channel’. You must have proof that:</ul>
  <ul>
  <li>the vehicle was exported</li>
  <li>you were the person who exported it</li>
</ul>

<h2 class="heading-small">Non-EU registered vehicles</h2>

<p>
You don’t pay VAT or duty on a vehicle imported from outside the EU if it’s registered to a non-EU resident and: 
<ul class="list-bullet">
  <li>you’re not an EU resident </li>
  <li>you’re importing the vehicle temporarily for your own private use</li>
  <li>you don’t sell, lend or hire it within the EU </li>
  <li>you re-export it from the EU within 6 months - you get longer if you’re a student or on an assignment lasting a specific amount of time</li>
</ul>

This is known as ‘temporary admission relief’. Fill in <a href="https://www.gov.uk/government/publications/import-and-export-temporary-admission-notice-of-arrival-of-a-non-eu-private-motor-vehicle-c110">form C110</a> to help customs identify you. You don’t need to contact HM Revenue and Customs (HMRC) to get the relief. </p>

<h2 class="heading-small">VAT-registered businesses</h2>

<p>
Use the Notification of Vehicle Arrivals (NOVA) service to tell HMRC you’ve brought a vehicle into the UK. </p>

<p>
Do this within 14 days of importing the vehicle.</p>

<p>
Log in to <a href="https://www.gov.uk/nova-log-in">HMRC online</a> to use NOVA. You need a <a href="https://online.hmrc.gov.uk/registration/newbusiness">Government Gateway</a> account to do this. </p>

<p>
Ask the <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/vat-enquiries">VAT helpline</a> for a VAT NOVA1 form if you don’t want to use the NOVA service.</p>

<p>
You must <a href="https://www.gov.uk/nova-log-in">pay the VAT</a> when the vehicle is imported into the UK. You can claim the VAT on your <a href="https://www.gov.uk/send-vat-return">next VAT Return</a>. </p>

<h2 class="heading-small">Exceptions</h2>

<p>
You don’t need to notify HMRC if both of the following apply:
<ul class="list-bullet">
  <li>the vehicle has an engine below 49cc, or 7.2 kilowatts (about 9.65 horsepower) if it’s electric</li>
  <li>you’re using a secure registration scheme </li>
</ul>

If your customer changes their mind about how to use the vehicle and you can no longer use a secure registration scheme, you must use NOVA within 14 days of your customer telling you. </p>

<p>
You can’t register your vehicle with DVLA until HMRC has processed your NOVA application.</p>






<footer>
<nav class="pagination" role="navigation" aria-label="Pagination">
<ul class="group">
  <li class="previous">
  <a title="Navigate to previous part" rel="prev" href="info-4">
  <span class="pagination-label">Previous </span> <span class="pagination-part-title">VAT, duty and tax: vehicles inside the EU</span></a></li>

  <li class="next">
  <a title="Navigate to next part" rel="next" href="info-6">
  <span class="pagination-label">Next</span> <span class="pagination-part-title">Registering a vehicle as 'new'</span></a></li>

</ul>
</nav>
</footer>

    </div>


    <div class="column-third" style=";margin-bottom:0.75em">
      <nav class="popular-needs">

        <h3 class="heading-medium" style="border-top:10px solid #005ea5;margin-top:0;padding-top:1em">Elsewhere on GOV.UK</h3>

        <ul class="top-tasks">
          <li><a href="/register-sorn-statutory-off-road-notification">Make a <abbr title="Statutory off road notice">SORN</abbr> declaration</a></li>
          <li><a href="/calculate-vehicle-tax-rates">Calculate vehicle tax rates</a></li>
          <li><a href="/calculate-vehicle-tax-rates">Vehicle tax rate tables</a></li>
          <li><a href="/apply-hgv-vehicle-licence-tax-disc-form-v85">Apply for <abbr title="Heavy goods vehicle">HGV</abbr> vehicle tax</a></li>
          <li><a href="#">More</a></li>
        </ul>

        

      </nav>
    </div>

  </div><!-- close gridrow -->





 

  





</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
