{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}




{{$propositionHeader}}
  {{>includes/govuk_navigation_searchbox}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}



{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main" class="vehicle-tax-start">
  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
        <li><a href="#">Home</a></li>
        <li><a href="#">Driving and transport</a></li>
        <li><a href="#">Imports and exports</a></li>
      </ol>
    </nav>
  </div>





  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="form-title heading-large" style="margin-bottom:0.33em">
      Importing vehicles into the UK
      </h1>


     

<aside>
  <div class="inner">
    <!--<a href="#" class="show-all-parts">Show all parts of this guide</a> -->

    <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
    <ol>
      <li>
        <span class="part-number">1.</span>
        <a title="Part 1: " href="info-1">Overview</a>
      </li>
      <li>
        <span class="part-number">2.</span>
        <a title="Part 2: " href="info-2">Re-importing a vehicle</a>
      </li>
      <li>
        <span class="part-number">3.</span>
        <a title="Part 3: " href="info-3">Temporary imports</a>
      </li>
      <li>
        <span class="part-number">4.</span>
        <a title="Part 4: " href="info-4">VAT, duty and tax: inside the EU</a>
      </li>
      <li class="active">
        <span class="part-number">5.</span>
        <a title="Part 5: " href="info-5">VAT, duty and tax: from outside the EU</a>
      </li>
    </ol>

    <ol start="6">
      <li>
        <span class="part-number">6.</span>
        <a title="Part 6: " href="info-6">Registering a vehicle as 'new'</a>
      </li>
      <li>
        <span class="part-number">7.</span>
        <a title="Part 7: " href="info-7">Registering a used imported vehicle</a>
      </li>
      <li>
        <span class="part-number">8.</span>
        <a title="Part 8: " href="info-8">Mutual recognition</a>
      </li>
      <li>
        <span class="part-number">9.</span>
        <a title="Part 9: " href="info-9">Moving vehicles between Britain and Northern Ireland</a>
      </li>
      <li>
        <span class="part-number">10.</span>
        <a title="Part 10: " href="info-10">Commercial importers of new vehicles</a>
      </li>
    </ol>
        
    </nav>
  </div>
</aside>

<br clear="all">

<header>
<h1 class="heading-large" style="margin-top:0.2em">1. Overview</h1>
</header>



<p>
Vehicles that you import into the UK permanently must be registered with the DVLA. You will also need to report the arrival of the vehicle to HMRC. Vehicles must be approved to make sure they meet safety and environmental standards.</p>

<p>
If you use a vehicle importer they will normally take care of this for you. </p>

<p>
There are different rules if you’re <a href="https://www.gov.uk/importing-vehicles-into-the-uk/temporary-imports">temporarily importing a vehicle into the UK</a>.</p>

<h2 class="heading-small">
Registering your vehicle </h2>

<p>
You must register the imported vehicle with DVLA. DVLA will issue a vehicle registration number (number plate number) based on the age of the vehicle. </p>

<p>
<a href="info-4">New vehicles registration</a><br> 
<a href="info-5">Used vehicles registration</a></p>

<p>
There’s a different <a href="https://www.gov.uk/importing-vehicles-into-the-uk/commercial-importers-of-new-vehicles">registration process for commercial importers of new vehicles</a>.
</p>


<div class="help-notice">
  <p style="padding-top:0.2em; padding-left:50px">You could be prosecuted if you use your vehicle on public roads for any other reason if you haven’t registered it, bought insurance and paid VAT and duty. 
</div>

<p>The only circumstances in which the vehicle can be driven are to and from a pre-arranged IVA/MOT test and to and from a garage for remedial work following failure to pass the test. </p>


<h2 class="heading-small">
Driving with a foreign registration number</h2>

<p>You must get a UK licence plate if you’re a permanent resident and you want to drive a vehicle that you’ve permanently imported. </p>

<footer>
<nav class="pagination" role="navigation" aria-label="Pagination">
<ul class="group">
  <li class="previous">
  <a title="Navigate to previous part" rel="prev" href="#">
  <span class="pagination-label">&nbsp; </span> <span class="pagination-part-title">&nbsp; </span></a></li>

  <li class="next">
  <a title="Navigate to next part" rel="next" href="info-2">
  <span class="pagination-label">Next</span> <span class="pagination-part-title">Re-importing a vehicle</span></a></li>

</ul>
</nav>
</footer>

    </div>


    <div class="column-third" style=";margin-bottom:0.75em">
      <nav class="popular-needs">

        <h3 class="heading-medium" style="border-top:10px solid #005ea5;margin-top:0;padding-top:1em">Elsewhere on GOV.UK</h3>

        <ul class="top-tasks">
          <li><a href="/register-sorn-statutory-off-road-notification">Make a <abbr title="Statutory off road notice">SORN</abbr> declaration</a></li>
          <li><a href="/calculate-vehicle-tax-rates">Calculate vehicle tax rates</a></li>
          <li><a href="/calculate-vehicle-tax-rates">Vehicle tax rate tables</a></li>
          <li><a href="/apply-hgv-vehicle-licence-tax-disc-form-v85">Apply for <abbr title="Heavy goods vehicle">HGV</abbr> vehicle tax</a></li>
          <li><a href="#">More</a></li>
        </ul>

        

      </nav>
    </div>

  </div><!-- close gridrow -->





 

  





</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
