{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}




{{$propositionHeader}}
  {{>includes/govuk_navigation_searchbox}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}



{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main" class="vehicle-tax-start">
  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
        <li><a href="#">Home</a></li>
        <li><a href="#">Driving and transport</a></li>
        <li><a href="#">Imports and exports</a></li>
      </ol>
    </nav>
  </div>





  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="form-title heading-large" style="margin-bottom:0.33em">
      Importing vehicles into the UK
      </h1>


     

<aside>
  <div class="inner">
    <!--<a href="#" class="show-all-parts">Show all parts of this guide</a> -->

    <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
    <ol>
      <li>
        <span class="part-number">1.</span>
        <a title="Part 1: " href="info-1">Overview</a>
      </li>
      <li>
        <span class="part-number">2.</span>
        <a title="Part 2: " href="info-2">Re-importing a vehicle</a>
      </li>
      <li>
        <span class="part-number">3.</span>
        <a title="Part 3: " href="info-3">Temporary imports</a>
      </li>
      <li>
        <span class="part-number">4.</span>
        <a title="Part 4: " href="info-4">VAT, duty and tax: inside the EU</a>
      </li>
      <li class="active">
        <span class="part-number">5.</span>
        <a title="Part 5: " href="info-5">VAT, duty and tax: from outside the EU</a>
      </li>
    </ol>

    <ol start="6">
      <li>
        <span class="part-number">6.</span>
        <a title="Part 6: " href="info-6">Registering a vehicle as 'new'</a>
      </li>
      <li>
        <span class="part-number">7.</span>
        <a title="Part 7: " href="info-7">Registering a used imported vehicle</a>
      </li>
      <li>
        <span class="part-number">8.</span>
        <a title="Part 8: " href="info-8">Mutual recognition</a>
      </li>
      <li>
        <span class="part-number">9.</span>
        <a title="Part 9: " href="info-9">Moving vehicles between Britain and Northern Ireland</a>
      </li>
      <li>
        <span class="part-number">10.</span>
        <a title="Part 10: " href="info-10">Commercial importers of new vehicles</a>
      </li>
    </ol>
        
    </nav>
  </div>
</aside>

<br clear="all">

<header>
<h1 class="heading-large" style="margin-top:0.2em">6. Registering a New Vehicle  </h1>
</header>

<p>
You can bring a vehicle into the UK and register it as ‘new’ if all the following apply:
<ul class="list-bullet">
  <li>it’s registered within 2 weeks of collection (extended to one calendar month at peak periods, eg before 1 March and 1 September)</li>
  <li>it hasn’t been previously permanently registered</li>
  <li>it’s been stored before registration and is a current model or a model that’s stopped being made within the last 2 years</li>
  <li>it only has reasonable delivery mileage, eg it’s been driven from the pickup point to home using a direct route</li>
  <li>it hasn’t been sold by a retailer before</li>
</ul>
You can’t drive the vehicle on UK roads until it’s been registered and taxed, unless you’re driving to a pre-booked MOT or type approval test.</p>

<h2 class="heading-small">You will need: </h2>

<p>
You should obtain a ‘new vehicle import pack’ which includes the relevant V55 application form to register the vehicle and supporting documents – you can request this here <a href="https://www.gov.uk/dvlaforms">https://www.gov.uk/dvlaforms</a> 
<ul class="list-bullet">
  <li><a href="https://www.gov.uk/nova-log-in">Notification of Vehicle Arrival (NOVA)</a> – see below for more info</li>
  <li>Evidence showing the date the vehicle was collected (invoice)</li>
  <li>V267 – Declaration of newness or certificate of newness.</li>
  <li>Type approval (unless exempt) – see below for more info.</li>
  <li>V55/4</li>
  <li>ID (Photocopies are acceptable)
        <ul class="list-bullet">
          <li>Name: Driving licence, Passport, Marriage Certificate, Birth Certificate</li>
          <li>Address: utility bill (within the last 3 months) - eg gas, electricity etc, bank or building society statement (within the last 3 months), medical card, council tax bill for current year
          </li>
        </ul>
    </li>
  <li>£55 Registration Fee (if applicable) - <a href="#">Exemptions</a></li>
  <li>Fee for Vehicle Tax (if applicable) - <a href="#">Vehicle tax rates table</a></li>
  <li>Insurance Certificate for vehicles being registered to an NI Address (Downloaded or faxed copies are acceptable)</li>
</ul>



<h2 class="heading-small">Pay VAT, duty and vehicle tax</h2>

<p>
Use the <a href=" https://www.gov.uk/nova-log-in">Notification of Vehicle Arrivals (NOVA)</a> service to tell HM Revenue and Customs (HMRC) that you’re importing a vehicle:
<ul class="list-bullet">
  <li>from <a href="#">within the EU</a></li> 
  <li>from <a href="#">outside the EU</a></li>
</ul>

You usually need to do this within 14 days of arrival.</p>

<p>
HMRC will tell you if you have to pay any VAT, duty or tax. </p>

<p>
You usually pay VAT and duty through customs when you import a vehicle from outside the EU. If you’re not a VAT-registered business you can only register your vehicle once you’ve paid your VAT, duty or tax.</p>


<h2 class="heading-small">Vehicle Approval</h2>

<p>
You must show your vehicle meets environmental and safety regulations or has an exemption. You’ll need:
<ul class="list-bullet">
  <li>a European Certificate of Conformity if your vehicle is right hand drive and has imperial units (mph) - you can get this from the manufacturer</li>
  <li>a European Certificate of Conformity and a <a href="#">certificate of Mutual Recognition</a> if your vehicle is left hand drive or has metric units (kmph)</li>
  <li><a href="#">An Individual Vehicle Approval (IVA)</a> certificate if your vehicle has no European approval.</li>
</ul>


<h2 class="heading-small">Motorbike type approval</h2>

<ul class="list-bullet">
  <li>A European Certificate of Conformity if your motorbike is designed for left hand traffic and has imperial units on the speedometer - you can get this from the manufacturer</li>
  <li>a European Certificate of Conformity and a <a href="#">certificate of Mutual Recognition</a> if your motorbike is designed for right hand traffic or has metric units on the speedometer</li>
  <li>Motorcycle Single Vehicle Approval (MSVA) certificate if your vehicle has no European approval.</li>
</ul>


<h2 class="heading-small">Supporting documents needed for some vehicles</h2>


<p>You may have to send extra forms and documents if your vehicle is:
<ul class="list-bullet">
  <li>kit-built</li>
  <li>????????????????????? </li>
</ul>
</p>

<h2 class="heading-small">After you’ve applied</h2>

<p>
DVLA might need to inspect your vehicle. If your application is approved, DVLA will send you a V5C registration certificate (sometimes called a log book). </p>

<p>
This shows:
<ul class="list-bullet">
  <li>the vehicle’s registration number</li>
  <li>the vehicle keeper’s name and address</li>
  <li>other information about the vehicle (the make, vehicle identification number (VIN) and number of previous keepers)</li>
</ul>

DVLA will also send you <strike> the vehicle tax disc and</strike> your identity documents.</p>

<p>
You’ll need to provide a prepaid self-addressed, special delivery envelope if you want the documents returned by special delivery.</p>

<p>
DVLA can’t guarantee the return of the documents by a specific date but you should get a new registration certificate within 6 weeks of getting your application. </p>

<h2 class="heading-small">If you don’t get a response</h2>

<p>
Contact DVLA if you’ve not had a response after 6 weeks. Don’t wait longer than 3 months or DVLA won’t be able to investigate properly.</p>





<footer>
<nav class="pagination" role="navigation" aria-label="Pagination">
<ul class="group">
  <li class="previous">
  <a title="Navigate to previous part" rel="prev" href="info-5">
  <span class="pagination-label">Previous </span> <span class="pagination-part-title">VAT, duty and tax: vehicles from outside the EU</span></a></li>

  <li class="next">
  <a title="Navigate to next part" rel="next" href="info-7">
  <span class="pagination-label">Next</span> <span class="pagination-part-title">Registering a used imported vehicle</span></a></li>

</ul>
</nav>
</footer>

    </div>


    <div class="column-third" style=";margin-bottom:0.75em">
      <nav class="popular-needs">

        <h3 class="heading-medium" style="border-top:10px solid #005ea5;margin-top:0;padding-top:1em">Elsewhere on GOV.UK</h3>

        <ul class="top-tasks">
          <li><a href="/register-sorn-statutory-off-road-notification">Make a <abbr title="Statutory off road notice">SORN</abbr> declaration</a></li>
          <li><a href="/calculate-vehicle-tax-rates">Calculate vehicle tax rates</a></li>
          <li><a href="/calculate-vehicle-tax-rates">Vehicle tax rate tables</a></li>
          <li><a href="/apply-hgv-vehicle-licence-tax-disc-form-v85">Apply for <abbr title="Heavy goods vehicle">HGV</abbr> vehicle tax</a></li>
          <li><a href="#">More</a></li>
        </ul>

        

      </nav>
    </div>

  </div><!-- close gridrow -->





 

  





</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
