{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}




{{$propositionHeader}}
  {{>includes/govuk_navigation_searchbox}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}



{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main" class="vehicle-tax-start">
  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
        <li><a href="#">Home</a></li>
        <li><a href="#">Driving and transport</a></li>
        <li><a href="#">Imports and exports</a></li>
      </ol>
    </nav>
  </div>





  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="form-title heading-xlarge">
      Importing vehicles into the UK
      </h1>


     

<aside>
  <div class="inner">
    <!--<a href="#" class="show-all-parts">Show all parts of this guide</a> -->

    <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
    <ol>
      <li>
        <span class="part-number">1.</span>
        <a title="Part 1: " href="info-1">Overview</a>
      </li>
      <li>
        <span class="part-number">2.</span>
        <a title="Part 2: " href="info-2">Re-importing a vehicle</a>
      </li>
      <li>
        <span class="part-number">3.</span>
        <a title="Part 3: " href="info-3">Temporary imports</a>
      </li>
      <li>
        <span class="part-number">4.</span>
        <a title="Part 4: " href="info-4">VAT, duty and tax: inside the EU</a>
      </li>
      <li class="active">
        <span class="part-number">5.</span>
        <a title="Part 5: " href="info-5">VAT, duty and tax: from outside the EU</a>
      </li>
    </ol>

    <ol start="6">
      <li>
        <span class="part-number">6.</span>
        <a title="Part 6: " href="info-6">Registering a vehicle as 'new'</a>
      </li>
      <li>
        <span class="part-number">7.</span>
        <a title="Part 7: " href="info-7">Temporary imports</a>
      </li>
      <li>
        <span class="part-number">8.</span>
        <a title="Part 8: " href="info-8">Moving vehicles between Britain and Northern Ireland</a>
      </li>
      <li>
        <span class="part-number">9.</span>
        <a title="Part 9: " href="info-9">Commercial importers of new vehicles</a>
      </li>
    </ol>
        
    </nav>
  </div>
</aside>

<br clear="all">

<header>
<h1 class="heading-medium">2. Re-Importing a Vehicle </h1>
</header>

<p>
When re-importing a used vehicle into Britain you must apply to re-register the vehicle with the DVLA. </p>

<h2 class="heading-small">
Pay VAT, duty and vehicle tax</h2>

<p>
Use the Notification of Vehicle Arrivals (NOVA) service to tell HM Revenue and Customs (HMRC) that you’re importing a vehicle:
<ul>
  <li>from within the EU </li>
  <li>from outside the EU </li>
</ul>
You usually need to do this within 14 days of arrival.</p>

<p>
HMRC will tell you if you have to pay any VAT, duty or tax.</p>

<p> 
You usually pay VAT and duty through customs when you import a vehicle from outside the EU.</p>

<p>
If you’re not a VAT-registered business you can only register your vehicle once you’ve paid your VAT, duty or tax.</p>

<h2 class="heading-small">
You will need: </h2>

<p>
You should obtain a V55/5 application form to register the vehicle and supporting documents – you can request this here https://www.gov.uk/dvlaforms 
<ul>
  <li>V55/5</li>
  <li>ID (Photocopies are acceptable)
      <ul>
        <li>Name: Driving licence, Passport, Marriage Certificate, Birth Certificate</li>
        <li>Address: utility bill (within the last 3 months) - eg gas, electricity etc, bank or building society statement (within the last 3 months), medical card, council tax bill for current year
        </li>
      </ul>
  </li>
  <li>Foreign registration document or foreign export certificate* (If these documents are not available; please include a cover letter explaining why. If available; please also include copies of purchase papers/invoices)</li>
  <li>MOT (if applicable)</li>
  <li>Insurance Certificate for vehicles being registered to a NI Address (Downloaded or faxed copies are acceptable)</li>
  <li>Payment for vehicle tax (if not making a SORN declaration) </li>
  <li>V890 Statutory Off Road Notification declaration form must be submitted with the application if declaring the vehicle off road</li>
</ul>

<p>
Note: No registration Fee is required when re-importing a vehicle as this would have been paid when the vehicle was originally registered </p>





<footer>
<nav class="pagination" role="navigation" aria-label="Pagination">
<ul class="group">
  <li class="previous">
  <a title="Navigate to previous part" rel="prev" href="#">
  <span class="pagination-label">Previous </span> <span class="pagination-part-title">VAT, duty and tax: vehicles from outside the EU</span></a></li>

  <li class="next">
  <a title="Navigate to next part" rel="next" href="#">
  <span class="pagination-label">Next</span> <span class="pagination-part-title">Registering a vehicle as 'new'</span></a></li>

</ul>
</nav>
</footer>

    </div>


    <div class="column-third" style=";margin-bottom:0.75em">
      <nav class="popular-needs">

        <h3 class="heading-medium" style="border-top:10px solid #005ea5;margin-top:0;padding-top:1em">Elsewhere on GOV.UK</h3>

        <ul class="top-tasks">
          <li><a href="/register-sorn-statutory-off-road-notification">Make a <abbr title="Statutory off road notice">SORN</abbr> declaration</a></li>
          <li><a href="/calculate-vehicle-tax-rates">Calculate vehicle tax rates</a></li>
          <li><a href="/calculate-vehicle-tax-rates">Vehicle tax rate tables</a></li>
          <li><a href="/apply-hgv-vehicle-licence-tax-disc-form-v85">Apply for <abbr title="Heavy goods vehicle">HGV</abbr> vehicle tax</a></li>
          <li><a href="#">More</a></li>
        </ul>

        

      </nav>
    </div>

  </div><!-- close gridrow -->





 

  





</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
