{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}




{{$propositionHeader}}
  {{>includes/govuk_navigation_searchbox}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}



{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main" class="vehicle-tax-start">
  <div id="global-breadcrumb" class="header-context">
    <nav role="navigation">
      <ol class="group">
        <li><a href="#">Home</a></li>
        <li><a href="#">Driving and transport</a></li>
        <li><a href="#">Imports and exports</a></li>
      </ol>
    </nav>
  </div>





  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="form-title heading-xlarge">
      Importing vehicles into the UK
      </h1>


     

<aside>
  <div class="inner">
    <!--<a href="#" class="show-all-parts">Show all parts of this guide</a> -->

    <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
    <ol>
      <li>
        <span class="part-number">1.</span>
        <a title="Part 1: " href="info-1">Overview</a>
      </li>
      <li>
        <span class="part-number">2.</span>
        <a title="Part 2: " href="info-2">Re-importing a vehicle</a>
      </li>
      <li>
        <span class="part-number">3.</span>
        <a title="Part 3: " href="info-3">Temporary imports</a>
      </li>
      <li>
        <span class="part-number">4.</span>
        <a title="Part 4: " href="info-4">VAT, duty and tax: inside the EU</a>
      </li>
      <li class="active">
        <span class="part-number">5.</span>
        <a title="Part 5: " href="info-5">VAT, duty and tax: from outside the EU</a>
      </li>
    </ol>

    <ol start="6">
      <li>
        <span class="part-number">6.</span>
        <a title="Part 6: " href="info-6">Registering a vehicle as 'new'</a>
      </li>
      <li>
        <span class="part-number">7.</span>
        <a title="Part 7: " href="info-7">Temporary imports</a>
      </li>
      <li>
        <span class="part-number">8.</span>
        <a title="Part 8: " href="info-8">Moving vehicles between Britain and Northern Ireland</a>
      </li>
      <li>
        <span class="part-number">9.</span>
        <a title="Part 9: " href="info-9">Commercial importers of new vehicles</a>
      </li>
    </ol>
        
    </nav>
  </div>
</aside>

<br clear="all">

<header>
<h1 class="heading-medium">3. Temporary imports </h1>
</header>

<p>
You can usually use a vehicle with non-UK number plates without needing to tax or register it in the UK if all of the following apply:
<ul>
<li>you’re visiting and don’t plan to live here</li>
<li>you only use the vehicle up to 6 months in a 12-month period (one single visit, or several shorter visits adding up to a 6-month period)</li>
<li>the vehicle is registered and taxed in its home country</li>
</ul>
You must tax and register your vehicle in the UK if you become a resident or your stay is longer than 6 months.</p>

<h2 class="heading-small">Customs relief for non-EU vehicles</h2>

<p>
You may be able to claim relief from customs charges if your vehicle is registered outside the EU and you’re bringing it to the UK temporarily. This is known as ‘temporary admission’.</p>

<p>
Fill in form C110 and take your vehicle through the ‘nothing to declare’ channel when you arrive in the UK.</p>

<p>
If HM Revenue and Customs (HMRC) says your vehicle must be registered and taxed in the UK, contact the Customs, International Trade and Excise (CITEX) team and ask for form C&E 388. </p>

<h2 class="heading-small">Local compliance, CITEX written enquiries team </h2>

<p>
citex.temporaryadmissionsteam@hmrc.gsi.gov.uk <br>
Telephone: 03000 583 736<br>
Find out about call charges</p>

<h2 class="heading-small">Students and workers</h2>

<p>
You may be able to use a vehicle with non-UK number plates for longer than a 6-month period, without taxing or registering it, if all the following apply:
<ul>
<li>you’re a student or worker</li>
<li>you normally live outside the EU </li>
<li>you’re in the UK for a set study or work period</li>
<li>the vehicle is registered in its home country</li>
</ul>
You must contact HMRC before arrival or on arrival in the UK to apply for customs relief.</p>

<p>
If you meet the conditions, HMRC will give you a customs relief form that you can show the police if you’re stopped when driving the vehicle.</p>

<p>
You must register and tax your vehicle in the UK if your vehicle is eligible for customs relief and you stay in the UK after it expires (normally at the end of the study or work period).</p>

<h2 class="heading-small">When you need Q number plates</h2>

<p>
You must get temporary Q number plates if you visit the UK for up to 6 months and either: 
<ul>
<li>your number plates display numbers or letters that aren’t identifiable in the UK, eg Arabic script</li>
<li>your vehicle isn’t registered in its home country</li>
</ul>
If you claim custom relief charges, get your form C110 - temporary admission stamped on arrival in the UK. If you fill the form in after you arrive in the UK, send it to the CITEX team to have it stamped.</p>

<p>
Local compliance <br>
CITEX written enquiries team <br>
S0000 <br>
Newcastle <br>
NE98 1ZZ </p>

<h2 class="heading-small">If you’re stopped by the police</h2>

<p>
If your car has non-UK number plates and you’re stopped by police, you must show you can use the vehicle in the UK without taxing and registering it here. </p>

<p>
You may have to show proof of the length of time you’ve been in the UK (eg a ferry ticket) or evidence that you and the vehicle are eligible for customs relief.</p>






<footer>
<nav class="pagination" role="navigation" aria-label="Pagination">
<ul class="group">
  <li class="previous">
  <a title="Navigate to previous part" rel="prev" href="#">
  <span class="pagination-label">Previous </span> <span class="pagination-part-title">VAT, duty and tax: vehicles from outside the EU</span></a></li>

  <li class="next">
  <a title="Navigate to next part" rel="next" href="#">
  <span class="pagination-label">Next</span> <span class="pagination-part-title">Registering a vehicle as 'new'</span></a></li>

</ul>
</nav>
</footer>

    </div>


    <div class="column-third" style=";margin-bottom:0.75em">
      <nav class="popular-needs">

        <h3 class="heading-medium" style="border-top:10px solid #005ea5;margin-top:0;padding-top:1em">Elsewhere on GOV.UK</h3>

        <ul class="top-tasks">
          <li><a href="/register-sorn-statutory-off-road-notification">Make a <abbr title="Statutory off road notice">SORN</abbr> declaration</a></li>
          <li><a href="/calculate-vehicle-tax-rates">Calculate vehicle tax rates</a></li>
          <li><a href="/calculate-vehicle-tax-rates">Vehicle tax rate tables</a></li>
          <li><a href="/apply-hgv-vehicle-licence-tax-disc-form-v85">Apply for <abbr title="Heavy goods vehicle">HGV</abbr> vehicle tax</a></li>
          <li><a href="#">More</a></li>
        </ul>

        

      </nav>
    </div>

  </div><!-- close gridrow -->





 

  





</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
