{{<layout}}

{{$pageTitle}}
	DVLA Design Kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<form action="examples/elements/start" method="get" class="get-started" style="margin-top:1.5em">
	<!--<input type="hidden" name="nextlink" value="start">
	<input type="hidden" name="nextbacklink" value="start">-->

	<h1 class="heading-large">First reg prototype</h1>

	

	<p>How to begin this little helper...</p>

	<ol class="list-number">

	<li>
		<a href="/examples/elements/start">Start page</a><br />
		A start page on GOV.UK...
	</li>

	<li>
		<a href="/examples/elements/q1-newused">Direct to first question</a><br />
		
	</li>

	
		
	</ol>











	<h2 class="heading-medium">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/wiki">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
